<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Pay Client</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/epayclient.css}" rel="stylesheet" />
</head>
<body onload="hideLoadingDiv()">
	<div class="container">
		<div class="row">
			<div class="col-md-10" style="margin-left: 70px;">
				<div class="page-header">
					<img src="img/donate-online.gif" height="210px"
						width="100%;margin-left: 70px;" alt="Smiley face"></img>
				</div>
				<div id="divLoading"></div>


				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"><b>Manage Donations</b></a>
						</div>
						<ul class="nav navbar-nav">
							<li><a href="/showcreatedonation">Create Donation</a></li>
							<li><a href="/loadalldonationforupdate">Update Donation</a></li>
							<li><a href="/loaddonationfordelete">Delete Donation</a></li>
							<li><a href="/listdonations">Place Donation</a></li>
							<li><a href="/transactionhistory">Donation History</a></li>
						</ul>
					</div>
				</nav>

				<div class="linebreak-md" style="background: #f2f4f2;">
					<span><label style="padding-left: 85px; padding-top: 20px">Donation
							ID</label></span> <span><label style="padding-left: 200px;">Donation
							Name</label></span> <span><label style="padding-left: 250px;">Donation
							Type</label></span>
				</div>
				<div style="background: #f2f4f2;">
					<span><label style="padding-left: 85px; font-weight: 200;"
						th:text="${donationDTO.donationID}">Donation ID</label></span> <span><label
						style="font-weight: 200; padding-left: 225px;"
						th:text="${donationDTO.donationName}">Donation Name</label></span> <span><label
						style="font-weight: 200; float: right; padding-right: 140px;"
						th:text="${donationDTO.donationType}">Donation Type</label></span>
				</div>
				<form role="form" id="donationcreationform" method="post"
					action="transactionconfirmation" onsubmit="return validateCheckOutDetails()">
					<div class="col-md-5" id="donationcreationformdiv"
						style="margin-left: 70px">
						<div class="linebreak-sm"></div>
						<div id="transactionsearchform">

							<div id="errorDivForBilling"></div>
							<hr style="margin-bottom: 7px">
							<label>Billing Details</label>
							<hr style="margin-top: 5px">
							<div class="form-group">
								<label for="First name"> First name: </label> <span
									title="Please enter the first name"><input type="text"
									class="form-control" id="firstname" placeholder="Donation ID"
									name="firstName" required="required" /></span>
							</div>
							<div class="form-group">
								<label for="Last Name"> Last Name: </label> <span
									title="Please enter the Last Name"><input type="text"
									class="form-control" id="lastname" placeholder="Last Name"
									name="lastName" required="required" /> </span>
							</div>
							<div class="form-group">
								<label for="Email"> Email: </label> <input type="text"
									class="form-control" id="email" placeholder="email"
									name="email" required="required" />
							</div>
							<div class="form-group">
								<label for="Address"> Address: </label> <input type="text"
									class="form-control" id="address" placeholder="address"
									name="address" required="required" />
							</div>
							<div class="form-group">
								<label for="Country"> Country: </label> <select
									class="form-control" id="country" name="country"
									required="required">
									<option value="">Select Country</option>
									<option>United Arab Emirates</option>
								</select>
							</div>
							<div class="form-group">
								<label for="State"> State: </label> <select class="form-control"
									id="state" name="state" required="required">
									<option value="">Select State</option>
									<option>Dubai</option>
									<option>Sharjah</option>
									<option>Ajman</option>
								</select>
							</div>
							<div class="form-group">
								<label for="Zip"> Zip: </label> <input type="text"
									class="form-control" id="zip" placeholder="zip" name="zip"
									required="required" />
							</div>


							<button type="submit" style="background: #777" value="Pay"
								class="btn btn-primary" >
								Donate</button>
							<button type="button" class="btn btn-primary"
								style="background: #777" onclick="redirectToHomePage()">Cancel</button>


						</div>
					</div>


					<div class="col-md-5" id="donationcreationformdiv"
						style="margin-left: 70px">
						<div id="errorDivForCard" style="margin-top: 20px"></div>
						<hr style="margin-bottom: 7px">
						<label>Card Details</label>
						<hr style="margin-top: 5px">

						<div class="form-group">
							<label for="Name on Card"> Name on Card: </label> <input
								type="text" class="form-control" id="cardname"
								placeholder="cardname" name="nameOnCard" required="required" />
						</div>

						<div class="form-group">
							<label for="Email"> Credit Card Number: </label> <input
								type="text" class="form-control" id="cardnumber"
								placeholder="cardnumber" name="cardNumber" required="required" />
						</div>

						<div class="form-group">
							<label for="Expiration"> Expiration: </label> <input type="text"
								class="form-control" id="expiration" placeholder="expiration"
								name="cardExpDate" required="required" />
						</div>

						<div class="form-group">
							<label for="CVV"> CVV: </label> <input type="text"
								class="form-control" id="cvv" placeholder="cvv" name="cvv"
								required="required" />
						</div>

						<div class="form-group">
							<label for="Amount"> Amount: </label>
							<div>
								<input type="hidden" id="donationAmount" name="donationAmount" />

								<input type="hidden" id="donationName" name="donationName"
									th:value="${donationDTO.donationName}" /> <input type="hidden"
									id="donationType" name="donationType"
									th:value="${donationDTO.donationType}" />

								<button type="button" id="amount10"
									style="background: white; width: 80px; color: #D30F41; font-weight: 800;"
									value="10" class="btn btn-primary"
									onclick="selectClickedAmountButton('#amount10')">AED
									10</button>
								<button type="button" id="amount25"
									style="background: white; width: 80px; color: #D30F41; font-weight: 800;"
									value="25" class="btn btn-primary"
									onclick="selectClickedAmountButton('#amount25')">AED
									25</button>
								<button type="button" id="amount50"
									style="background: white; width: 80px; color: #D30F41; font-weight: 800;"
									value="50" class="btn btn-primary"
									onclick="selectClickedAmountButton('#amount50')">AED
									50</button>
								<button type="button" id="amount100"
									style="background: white; width: 90px; color: #D30F41; font-weight: 800;"
									value="100" class="btn btn-primary"
									onclick="selectClickedAmountButton('#amount100')">
									AED 100</button>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
		<div class="linebreak-md"></div>
		<footer id="footerID" class="footerbar"
			style="background: #D30F41; height: 21px; width: 930px; margin-left: 70px;">
			<p style="font-size: small; color: white;"></p>
		</footer>

	</div>

	<!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>  -->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{js/bootstrap.min.js}"></script>
	<script src="../static/js/epayclient.js" th:src="@{/js/epayclient.js}"></script>
</body>
</html>