<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Pay Client</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/epayclient.css}" rel="stylesheet" />
</head>
<body onload="hideLoadingDiv()">
	<div class="container">
		<div class="row">
			<div class="col-md-10" style="margin-left: 70px;">
				<div class="page-header">
					<img src="img/donate-online.gif" height="210px"
						width="100%;margin-left: 70px;" alt="Smiley face"></img>
				</div>
				<div id="divLoading"></div>


				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"><b>Manage Donations</b></a>
						</div>
						<ul class="nav navbar-nav">
							<li><a href="/showcreatedonation">Create Donation</a></li>
							<li><a href="/loadalldonationforupdate">Update Donation</a></li>
							<li><a href="/loaddonationfordelete">Delete Donation</a></li>
							<li><a href="/listdonations">Place Donation</a></li>
							<li><a href="/transactionhistory">Donation History</a></li>
						</ul>
					</div>
				</nav>


			</div>





			<div class="col-md-10" id="donationupdateformdiv"
				style="margin-left: 70px">
				<div class="linebreak-sm" style="background: #f2f4f2;">
					<span><label
						style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px; font-size: 28px">Donation
							Confirmation</label></span>

				</div>
				<div class="linebreak-sm"></div>
				<div style="margin-top: 30px">
					<p style="font-size: 18px">Thank you for your Donation.We look
						forward to see you again.</p>
				</div>
				<div style="margin-top: 30px; margin-bottom: 30px;">
					<p style="font-size: 15px">You may find below the details of
						your Donation Receipt.</p>
				</div>
				<div id="errorDiv"></div>
				<div id="donateupdatediv">
					<form role="form" id="donateupdationdiv" method="post">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Payment:</td>
									<td style="border: 1px solid #999; font-weight: bold;"
										th:text="${transactionDTO.transactionID}">1706</td>
								</tr>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Payment
										Status:</td>
									<td style="border: 1px solid #999;">Complete</td>
								</tr>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Donation:</td>
									<td style="border: 1px solid #999;"
										th:text="${transactionDTO.transactionID}">My First
										Donation</td>
								</tr>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Donation
										Type:</td>
									<td style="border: 1px solid #999;"
										th:text="${transactionDTO.donationName}">General</td>
								</tr>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Date:</td>
									<td style="border: 1px solid #999;"
										th:text="${#dates.format(transactionDTO.transactionDate, 'dd-MMM-yyyy')}">12/09/2019</td>
								</tr>
								<tr>
									<td style="border: 1px solid #999; font-weight: bold;">Donation
										Amount:</td>
									<td style="border: 1px solid #999;"
										th:text="${transactionDTO.donationAmount}">AED 10</td>
								</tr>

							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
		<div class="linebreak-md"></div>
		<footer id="footerID" class="footerbar"
			style="background: #D30F41; height: 21px; width: 952px; margin-left: 70px; margin-bottom: 15px">
			<p style="font-size: small; color: white;"></p>
		</footer>

	</div>

	<!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>  -->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{/js/epayclient.js}"></script>
</body>
</html>