<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Donation App</title>
</head>
<body>
<h1>Welcome to Donation App</h1>

    <table>
      <thead>
        <tr>
          <th>Donation ID</th>
          <th>Donation Name</th>
          <th>Donation Description</th>
          <th>Donation Image</th>
        </tr>
      </thead>
      <tbody>
        <tr data-th-each="donation : ${donations}">
          <td th:text="${donation.donationID}">...</td>
          <td th:text="${donation.donationName}">...</td>
          <td th:text="${donation.donationDescription}">...</td>
          <td ><img  th:src="@{'data:image/jpeg;base64,'+${donation.donationImageBase64}}" /></td>
        </tr>
      </tbody>
    </table>
</body>
</html>