<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Pay Client</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/epayclient.css}" rel="stylesheet" />
</head>
<body onload="hideLoadingDiv()">
	<div class="container">
		<div class="row">
			<div class="col-md-11" style="margin-left: 70px;">
				<div class="page-header">
					<img src="img/donate-online.gif" height="210px"
						width="100%;margin-left: 70px;" alt="Smiley face"></img>
				</div>
				<div id="divLoading"></div>


				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"><b>Make Donations</b></a>
						</div>
						<ul class="nav navbar-nav">
							<li><a href="/showcreatedonation">Create Donation</a></li>
							<li><a href="/loadalldonationforupdate">Update Donation</a></li>
							<li><a href="/loaddonationfordelete">Delete Donation</a></li>
							<li><a href="/listdonations">Place Donation</a></li>
							<li><a href="/transactionhistory">Donation History</a></li>
						</ul>
					</div>
				</nav>

			</div>
			<div class="col-md-5" id="donationcreationformdiv"
				style="margin-left: 70px" th:if="${null != donationDTOList}"
				th:each="donationDTO : ${donationDTOList}">
				<div class="linebreak-sm"></div>
				<div id="transactionsearchform">
					<form role="form" id="donationcreationform" method="get"
						action="performtransaction">
						<div class="form-group">
							<label th:text="${donationDTO.donationName}">Donation
								name</label> <span> <img
								th:src="@{'data:image/jpeg;base64,'+${donationDTO.donationImageBase64}}"
								height="250" width="400" class="border" /></span>
							<div class="linebreak-sm"></div>
							<label style="font-weight: 400;"
								th:text="${donationDTO.donationDescription}">This
								donation will be going for the needy persons. We appreciate your
								support for helping people who requires the most</label>
						</div>
						<input type="hidden" name="donationID"
							th:value="${donationDTO.id}" />
						<button type="submit" style="background: #CC0033" value="Pay"
							class="btn btn-primary">Donate Now</button>
					</form>

				</div>
			</div>


		</div>
		<div class="linebreak-md"></div>
		<footer id="footerID" class="footerbar"
			style="background: #D30F41; height: 21px; width: 1050px; margin-left: 70px;margin-bottom: 15px">
			<p style="font-size: small; color: white;"></p>
		</footer>
	</div>

	<!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>  -->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{/js/epayclient.js}"></script>
</body>
</html>