<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-Pay Client</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/epayclient.css}" rel="stylesheet" />
</head>
<body onload="hideLoadingDiv()">
<div class="container">
	<div class="row" >
			<div class="col-md-10" style="margin-left: 70px;">
				<div class="page-header" >
					<img src="img/donate-online.gif" height="210px" width="100%;margin-left: 70px;"
						alt="Smiley face"></img>
				</div>
					<div id="divLoading"></div> 


				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#"><b th:text="${title}">Manage Donations</b><b th:if="${title == null}">Manage Donations</b></a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li><a href="/showcreatedonation">Create Donation</a></li>
				      <li><a href="/loadalldonationforupdate">Update Donation</a></li>
				      <li><a href="/loaddonationfordelete">Delete Donation</a></li>
				      <li><a href="/listdonations">Place Donation</a></li>
				       <li><a href="/transactionhistory">Donation History</a></li>
				    </ul>
				  </div>
				</nav>
				 
				<div id="donationcreation=div" th:if="${input != null and input == 'create'}" >
					<h3>Donation Creation</h3>
					<div class="linebreak-md"></div>
					<p>Please enter the below fields and proceed by clicking the Create Button</p>
				</div>
				
				<div id="donationupdatediv" th:if="${input != null and input == 'update'}" >
					<h3>Donation Updation</h3>
					<div class="linebreak-md"></div>
					<p>Please choose the donation and proceed by clicking the Update Button</p>
				</div>
				<div id="donationdeletediv" th:if="${input != null and input == 'delete'}" >
					<h3>Donation Deletion</h3>
					<div class="linebreak-md"></div>
					<p>Please select the donation and proceed by clicking the Delete Button</p>
				</div>		
			</div>
			<div class="col-md-5" id="donationcreationformdiv" style="margin-left: 70px" th:if="${input != null and input == 'create'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="transactionsearchform">
				<form role="form" id="donationcreationform" method="post"  action="createdonation" enctype="multipart/form-data">
					<div class="form-group">
						<label for="Donation ID">
							Donation ID:
						</label>
						 <span title="Please enter the donation ID"><input type="text" class="form-control" id="donationID"  placeholder="Donation ID" name="donationID" required="required" /></span>
					</div>
					<div class="form-group">
						<label for="Donation Name">
							Donation Name:
						</label>
						 <span title="Please enter the Donation Name"><input type="text" class="form-control" id="donationName"  placeholder="Donation Name" name="donationName" required="required" />
						 </span>
					</div>
					<div class="form-group">
						<label for="Donation Type">
							Donation Type:
						</label>
						<select id="donationType"  class="form-control"  name="donationType"  required="required">
							<option value="">Select Type</option>
							<option value="Individuals" >Individuals</option>
							<option value="Corporations">Corporations</option>
							<option value="Foundations">Foundations</option>
							
						</select>
					</div>
					<div class="form-group">
						<label for="Donation Description">
							Donation Description:
						</label>
						 <textarea name="donationDescription" rows=6 cols=60 maxlength=250 required="required"></textarea>
					</div>
					<div class="form-group">
						<label for="Donation Image">
							Donation Image:
						</label>
						<input type="file" class="form-control" id="donationFileImage"  placeholder="Donation Image" name="file"  required="required" />
					</div>
					<button type="submit" style="background: #777" value="Pay" class="btn btn-primary"  >
						Create 
					</button>
					<button type="button" class="btn btn-primary"
							style="background: #777"
							onclick="redirectToHomePage()">Cancel</button>
				</form>
							
				</div>
			</div>
			
			
			
			<div class="col-md-8" id="donationupdateformdiv" style="margin-left: 70px" th:if="${input != null and input == 'update'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="donateupdatediv">
					<form role="form" id="donateupdationdiv" method="post">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Donation ID</th>
				      <th scope="col">Donation Name</th>
				      <th scope="col">Donation Type</th>
				    </tr>
				  </thead>
				  <tbody th:if="${null != donationDTOList}">
							<tr th:each="donationDTO : ${donationDTOList}">
								<td th:text="${donationDTO.donationID}" >1</td>
								<td th:text="${donationDTO.donationName}">Mark</td>
								<td th:text="${donationDTO.donationType}" >Otto</td>
								<td><a th:href="@{loadselecteddonationforupdate(id=${donationDTO.id})}" ><button type="button" style="background: #777"
										value="Pay" class="btn btn-primary" >Update</button></a></td>
							</tr>
						</tbody>
				</table>
				</form>			
				</div>
			</div>
			

			
			<div class="col-md-5" id="donationupdateformdiv" style="margin-left: 70px" th:if="${input != null and input == 'loaddonationforupdate'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="donationupdateformdiv">
				<form role="form" id="donationupdateform" method="post" action="updatedonation">
					<div class="form-group">
						<label for="Donation ID">
							Donation ID:
						</label>
						 <span title="Please enter the donation ID"><input type="text" class="form-control" th:value="${donationDTO.donationID}" id="donationID"  placeholder="Donation ID" name="donationID" required="required" /></span>
					</div>
					<div class="form-group">
						<label for="Donation Name">
							Donation Name:
						</label>
						 <span title="Please enter the Donation Name"><input type="text" class="form-control" id="donationName" th:value="${donationDTO.donationName}" placeholder="Donation Name" name="donationName" required="required" />
						 </span>
					</div>
					<div class="form-group">
						<label for="Donation Type">
							Donation Type:
						</label>
						<input type="text" class="form-control" id="donationType"  placeholder="Donation Type" name="donationType" th:value="${donationDTO.donationType}"  required="required" />
					</div>
					<div class="form-group">
						<label for="Donation Description">
							Donation Description:
						</label>
						 <textarea name="donationDescription" rows=6 cols=60 maxlength=250 >[[${donationDTO.donationDescription}]]</textarea>
					</div>
					<div class="form-group">
						<label for="Donation Image">
							Donation Image:
						</label>
						<input type="file" class="form-control" id="donationImage"  placeholder="Donation Image" name="donationImage"  />
					</div>
					<input type="hidden" id="id"  name="id"  th:value="${donationDTO.id}"  />
					<button type="submit" style="background: #777" value="Pay" class="btn btn-primary"  >
						Update 
					</button>
					<button type="button" class="btn btn-primary"
							style="background: #777"
							onclick="redirectToHomePage()">Cancel</button>
				</form>
							
				</div>
			</div>
			
						
			<div class="col-md-8" id="donationupdateformdiv" style="margin-left: 70px" th:if="${action != null and action == 'update'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="donationupdateform">
					<div class="form-group">				
						<div class="alert alert-success" role="alert">
							The Donation Entry has been successfully updated
							</div>					 
					</div>
					<div class="linebreak-md"></div>							
				</div>
			</div>
			
			
		<div class="col-md-8" id="donationdeleteformdiv" style="margin-left: 70px" th:if="${input != null and input == 'delete'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="donationdeleteform">
				<form role="form" id="donationdeleteform" action="deletedonation" >
					<div class="form-group">
						<label for="Donation ID">
							Donation Name:
						</label>
						 <select name="donationID" style="width: 300px">
						     <option value="0">Select Donation</option>
    						 <option th:each="donationDTO : ${donationDTOList}" th:value="${donationDTO.id}" th:text="${donationDTO.donationName}"></option>
						 
						 </select>
						 
					</div>
					<div class="linebreak-md"></div>
					<button type="submit" style="background: #777" value="Pay" class="btn btn-primary" >
						Delete 
					</button>
					<button type="button" class="btn btn-primary"
							style="background: #777"
							onclick="redirectToHomePage()">Cancel</button>
				</form>
							
				</div>
			</div>
			
			
			<div class="col-md-8" id="donationdeleteformdiv" style="margin-left: 70px" th:if="${action != null and action == 'delete'}">
			<div class="linebreak-sm"></div>
			<div id="errorDiv"></div> 
				<div id="donationdeleteform">
					<div class="form-group">
						<div class="alert alert-success" role="alert">
							The Donation Entry has been successfully deleted
						</div>						 
					</div>
					<div class="linebreak-md"></div>							
				</div>
			</div>
			
						
			<div class="col-md-8" id="welcomediv" style="margin-left: 70px" th:if="${action == null and input == null}">
				<div id="errorDiv" style="margin-bottom: 50px;margin-top: 30px">
				<label> 
					Welcome, please proceed by choosing one of the above menu options.
				</label>
				<div> 
					<img width="940px" height="370px" style="margin-top: 15px" class="border" th:src="@{/img/donate.jpg}"/> 
								
				</div>
				</div>	
			</div>					 

			</div>
			
		<div class="linebreak-md"></div>
		<footer id="footerID" class="footerbar" style="background: #D30F41;height: 21px;width: 940px;margin-left: 70px;margin-bottom: 15px">
		<p style="font-size: small; color: white;">
		</p>
		</footer>

		</div>
		




   <!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>  -->
   <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
   <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
   <script th:src="@{/js/epayclient.js}"></script>
</body>
</html>