<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Pay Client</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/epayclient.css}" rel="stylesheet" />
</head>
<body onload="hideLoadingDiv()">
	<div class="container">
		<div class="row">
			<div class="col-md-10" style="margin-left: 70px;">
				<div class="page-header">
					<img src="img/donate-online.gif" height="210px"
						width="100%;margin-left: 70px;" alt="Smiley face"></img>
				</div>
				<div id="divLoading"></div>


				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"><b>Transaction History</b></a>
						</div>
						<ul class="nav navbar-nav">
							<li><a href="/showcreatedonation">Create Donation</a></li>
							<li><a href="/loadalldonationforupdate">Update Donation</a></li>
							<li><a href="/loaddonationfordelete">Delete Donation</a></li>
							<li><a href="/listdonations">Place Donation</a></li>
							<li><a href="/transactionhistory">Donation History</a></li>
						</ul>
					</div>
				</nav>

			</div>

			<div class="col-md-10" id="donationupdateformdiv"
				style="margin-left: 70px">
				<div class="linebreak-sm"></div>
				<div id="errorDiv"></div>
				<div id="donateupdatediv">
					<form role="form" id="donateupdationdiv" method="post">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Donation ID</th>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>
									<th scope="col">Email</th>
									<th scope="col">Donation Name</th>
									<th scope="col">Donation Amount</th>
									<th scope="col">Transaction Date</th>
								</tr>
							</thead>
							<tbody th:if="${null != transactionList}">
								<tr th:each="transactionDTO : ${transactionList}">
									<td th:text="${transactionDTO.transactionID}">1</td>
									<td th:text="${transactionDTO.firstName}">Mark</td>
									<td th:text="${transactionDTO.lastName}">Otto</td>
									<td th:text="${transactionDTO.email}">Otto</td>
									<td th:text="${transactionDTO.donationName}">Otto</td>
									<td th:text="${transactionDTO.donationAmount}">Otto</td>
									<td
										th:text="${#dates.format(transactionDTO.transactionDate, 'dd-MMM-yyyy')}"></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
		<div class="linebreak-md"></div>
		<footer id="footerID" class="footerbar"
			style="background: #D30F41; height: 21px; width: 950px; margin-left: 70px;margin-bottom: 15px">
			<p style="font-size: small; color: white;"></p>
		</footer>
	</div>

	
	<!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>  -->
       <script data-th-inline="javascript">
       $(document).ready(function(){

    	   window.scroll(0,300);

    	   });
       </script>
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{/js/epayclient.js}"></script>
</body>
</html>