<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Donation App</title>
</head>
<body>
<h1>Welcome to Donation App</h1>

    <table>
      <thead>
        <tr>
          <th>Playlist ID</th>
          <th>Playlist Name</th>
          <th>Track Name</th>
          <th>Artist Name</th>
          <th>Album Title</th>
        </tr>
      </thead>
      <tbody>
        <tr data-th-each="e : ${users}">
          <td th:text="${e.firstName}">...</td>
          <td th:text="${e.lastName}">...</td>
          <td th:text="${e.email}">...</td>
          <td th:text="${e.mobileNo}">...</td>
        </tr>
      </tbody>
    </table>
</body>
</html>